MRP_SERVER=https://mrpbridge.mocil.id/api
MRP_API_KEY=6c650c1e-96cf-4e21-bae2-ad258436c569

BASEURL_TOKEN=https://interface.mitsubishi-motors.co.id/Auth

MMKSI_SERVER=https://interface.mitsubishi-motors.co.id/api
